.container {
  margin-top: 10px;
  padding-bottom: 30px;
}

.score-outer {
  width: 100%;
  display: block;
  margin-top: 6px;
}

.score-inner {
  height: 100%;
  display: inline-block;
  background-color: black;
  box-shadow: 0px 0px 15px #3e7bbc;
  border-radius: 3px;
}

.team-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.team-item {
  margin-bottom: 15px;
}

h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: 'Lalezar', cursive;
  font-size: 30px;
}

.plus,
.minus,
.team-name,
.score-number {
  font-family: 'Baloo Bhai', cursive;
}

.team-name {
  font-size: 25px;
}

.score-number {
  font-size: 30px;
  color: black;
  margin-left: 10px;
  vertical-align: super;
  position: relative;
}

.minus,
.plus {
  border-radius: 50%;
  font-size: 23px;
  font-weight: bold;
  width: 35px;
  height: 35px;
}

.minus {
  background-color: #ff2a2f;
}

.plus {
  background-color: #2cff2c;
}

.songs-list {
  list-style: none;
  padding-left: 0;
}

.songs-list li {
  padding-left: 30px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.songs-list i {
  position: absolute;
  left: -2px;
  top: -5px;
}

.selected-song {
  color: white;
}

.fa-cogs {
  cursor: pointer;
}

.answer {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.modal-body {
  background-color: rgba(0, 144, 255, 0.45);
}

.modal-body h3 {
  text-align: center;
}

.modal-dialog {
  margin-top: 10%;
}

.reset-played-song {
  margin-bottom: 10px;
}
