<button type="button"
        class="btn btn-info"
        data-toggle="collapse"
        data-target="#demo">Simple collapsible</button>

<div id="demo" class="collapse">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</div>

<label for="email">Email</label>
<input id="email" type="text" [(ngModel)]="email">
<label for="password">Password</label>
<input id="password" type="password" [(ngModel)]="password">
<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>


<input type="text" [(ngModel)]="songList">
<button (click)="populateSongs(songList)">Populate song list</button>

<button (click)="clearSongs()">Clear Songs</button>

<div class="container">


  <h1>Helping Hands <img src="../assets/logo.gif"
                         height="80"
                         width="80"> Musical Quizz</h1>

song played: {{(playedSong | async )?.title}}
  <ul>
    <li *ngFor="let song of songs | async">
      {{song.title}}
      <button (click)="showPlayedSong(song.title)">Show as played</button>
    </li>
  </ul>

<ul class="team-list">
  <li class="team-item" *ngFor="let team of teams | async">
    <i (click)="removeTeam(team.$key, team.name)"
       class="fa fa-trash fa-2x"
       aria-hidden="true"></i>
    <span class="team-name">{{team.name}}</span>

    <button class="minus" (click)="removePoint(team.$key, team.score)">-</button>
    <button class="plus" (click)="addPoint(team.$key, team.score)">+</button>

    <div class="score-outer" [style.height]="scoreHeight + 'px'">
      <div class="score-inner" [style.width]="(team.score/maximumPoints)*100+'%'">
      </div>
      <span class="score-number"
            [style.font-size]="scoreHeight + 'px'">{{team.score}}</span>

    </div>

  </li>
</ul>
</div>


<div class="sticky-footer">
  <label for="add-song-artist">Song artist:</label>
  <input id="add-song-artist" type="text" [(ngModel)]="newSongArtist">

  <label for="add-song-title">Song title:</label>
  <input id="add-song-title" type="text" [(ngModel)]="newSongTitle">

  <button (click)="addSong(newSongArtist, newSongTitle)">Add song</button>


  <label for="add-team">Team name:</label>
  <input id="add-team" type="text" [(ngModel)]="newTeamName">
  <button (click)="addTeam(newTeamName)">Add Team</button>

  <label for="max-points">Max Points:</label>
  <input id="max-points" type="number" [(ngModel)]="maximumPoints">

  <label for="score-height">Score height:</label>
  <input id="score-height" type="number" [(ngModel)]="scoreHeight">
</div>
